
<section class="conversation">
  <div class="top-bar">
    <a>{{title_bar_function}}</a>
    <ul class="message-alt">
      <li class="entypo-minus minify"></li>
      <li class="entypo-cancel chat-close"></li>
    </ul>
  </div>
  <div class="message-area">
    <div class="message-bar">
      <ul class="additional">
        <li><a class="entypo-user-add"></a></li>
      </ul>
      <ul class="existing">
        <li><a class="entypo-chat"></a></li>
      </ul>
    </div>
    <ol class="discussion"></ol>
    <textarea class="send" maxlength="1800" placeholder="Enter Message..."></textarea>
    <span>
      <input class="parley_file_upload" name="img_upload" type="file" />
    </span>
    <label class="img_upload entypo-camera"></label>
  </div>
</section>