<div class="parley">
  <section class="conversation">
    <div class="top-bar">
      <a>{{first_name}}</a>
      <ul class="message-alt">
        <li class="entypo-minus minify"></li>
        <li class="entypo-resize-full"></li>
        <li class="entypo-cancel chat-close"></li>
      </ul>
    </div>
    <div class="message-bar">
      <ul class="additional">
        <li><a class="entypo-user-add"></a></li>
        <li><a class="fontawesome-facetime-video"></a></li>
      </ul>
      <ul class="existing">
        <li><a class="entypo-chat"></a></li>
      </ul>
    </div>
    <ol class="discussion"></ol>
    <textarea class="grw send" placeholder="Enter Message..."></textarea>
    <label class="img_upload entypo-camera">
      <span>
        <input class="parley_file_upload" name="img_upload" type="file" /></label>
      </span>
  </section>
</div>