<div class="persistent-bar">
  <img src="{{image_url}}" />
  <a>{{display_name}}
    <span class="entypo-down-open-mini"></span>
  </a>
  </div>
<input class="search" placeholder="New Chat" />
<div class="controller-view">
</div>
<div class="controller-bar">
  <ul class="utility-bar horizontal-list">
    <li>
      <a class="messages" >
        <span class="entypo-chat"></span>
      </a>
    </li>
    <li>
      <a class="active-users" >
        <span class="entypo-users"></span>
      </a>
    </li>
    <li>
      <a class="user-settings" >
        <span class="fontawesome-cog"></span>
      </a>
    </li>
  </ul>
</div>