<div class="controller-view">
</div>
<div class="controller-bar">
  <ul class="utility-bar horizontal-list">
    <li>
      <a class="messages" href="#">
        <span class="entypo-chat"></span>
      </a>
    </li>
    <li>
      <a class="active-users" href="#">
        <span class="entypo-users"></span>
      </a>
    </li>
    <li>
      <a class="user-settings" href="#">
        <span class="fontawesome-cog"></span>
      </a>
    </li>
  </ul>
  <div class="persistent-bar">
    <a>{{display_name}}</a>
    <span class="fontawesome-reorder"></span>
  </div>
</div>