<div class="parley">
  <section class="controller">
    <div class="controller-view">
      <div class="g-signin login-bar"
        data-callback="sign_in_callback"
        data-clientid="1027427116765-9c18ckuo07r5ms0aclbfjsmcpd3jrmtc.apps.googleusercontent.com"
        data-cookiepolicy="single_host_origin"
        data-theme="none"
        data-scope="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/devstorage.read_write">
        <li class="btn">
          <a class="entypo-gplus"></a>
        </li>
        <li class="aside">
          <a> Sign in with google</a>
        </li>
      </div>
    </div>
    <div class="persistent-bar logged-out">
      <a id="log-click"> click here to login!</a>
      <span class="fontawesome-reorder"></span>
    </div>
  </section>
</div>