<div class="avatar">
  <img src={{sender.image_url}} />
</div>
<div class="message status">
  <h2>{{sender.display_name}}</h2>
  <p>{{content}}</p>
  <a class="time">
    <span class="entypo-clock">{{ calculate_time }}</span>
  </a>
</div>