<div class="message existing">
  <div class="avatar">
    <img src={{retrieve_image}} />
  </div>
  <div class="content status entypo-right-open-big">
    <h2>{{convo_partner.display_name}}</h2>
    <p>{{retrieve_last_message}}</p>
    <a class="time">
      <span class="entypo-clock"> {{calculate_last_message_time}}</span>
    </a>
  </div>
</div>