@import 'icons';
@import 'reset';
@import 'flex-box';

/* Modular  Start========================== */

  /* Color Variables*/
$wht:#fbfbfb;
$bg:#eee;
$lght:#ccc;
$gry:#adadad;
$md:#999;
$drk:#404040;
$grn:#619e95;
$bl: #3B5998;
$dgrn:#4d7e77;
$rd:#d45e60;
$yllw:#d2aa6d;
/* Style Guide*/
*{
  box-sizing:border-box;
}
body {
  font-family:'Open Sans', sans-serif;color: $gry;
}
* ul, ol , li{
  padding:0;
  margin:0;
  list-style: none;
}

/* Modular End========================== */


// chat_room_view
.conversation {
  @include flexbox;
  @include flex-direction( column );
  max-height:24rem;
  position:absolute;
  bottom: 0;
  right: 20rem;
  width:16rem;
  border: 1px solid $gry;
}

.top-bar {
  @include flexbox;
  @include justify-content( space-between );
  background: $md;
  background: #666;
  padding: 0.5rem;
  a {
    font-size: 1rem;
    color: $wht;
    align-self: center;
  }
  ul {
    @include flexbox;
    color: $gry;
    cursor: pointer;
    li{
      font-size: 1.125rem;
      padding: 0 0 0 0.75rem;
    }
  }
}
// message alteration list ( minimize / popout / close)
.message-alt{
  @include flexbox;
  color: $wht;
  cursor: pointer;
  li{
    padding:0.3rem;
  }
}
.message-bar {
  @include flexbox;
  @include flex-direction( row );
  background: $bg;
  list-style: none;
  padding:0 .25rem;
  border-bottom: 1px solid $lght;
  align-items: center;
  ul.existing {
    @include flexbox;
    flex:1;
    @include justify-content( flex-end );
  }
  li{
    display:inline;
    list-style: none;
    @include align-items( center );
  }
  a{
    font-size:1.25rem;
    color:$md;
    cursor: pointer;
      &:hover {
        color:#797979;
      }
    }
}
// discussion base presentation
ol.discussion {
  max-height:16rem;
  height: 16rem;
  border-bottom: 1px solid $gry;
  overflow-x:hidden;
  overflow-y:scroll;
  background:$bg;
  li{
    padding: 0.25rem;
    @include flexbox;
    &:nth-child(even) {
      background:$wht;
    }
  }
  .avatar {
    width: 2.5rem;
    img {
      border-radius:50%;
      width: 100%;
      border:1px solid $md;
    }
  }
}
// message layout for base ( other )
  .message{
    @include flexbox;
    @include flex-direction( column );
    @include justify-content( flex-start );
    text-align: left;
    flex: 1 0 0;
    margin-left: .5rem;
    h2{
      font-size: 0.75rem;
      color: $drk;
      margin: 0 0 .25rem 0;
    }
    p{
      font-size: 0.8rem;
      color: $md;
      margin: 0 0 0.25rem 0;
      padding-right: 0.5rem;
      img{
        max-width: 12rem;
        border-radius: 0.25rem;
        border: 1px solid #adadad;
      }
    }
    a{
      font-size: 0.6rem;
      color: $gry;
      margin: 0;
    }
  }
// message alternate  ( self )
.self {
  padding-right: 0;
  justify-content: flex-end;
  align-items: flex-end;
  .messages {
    @include order( 1 );
  }
  .avatar {
    @include order( 2 );
  }
}
// message enter should grow with input of text
textarea.send {
  padding:4%;
  color:$drk;
  font-size:.85rem;
  border-top:1px solid $lght;
  word-wrap: break-word;
  resize: none;
  overflow: hidden;
  border:none;
  outline:none;
  position: absolute;
  width: 100%;
}

.mirrordiv{
  max-height: 8rem;
  opacity: 0;
  z-index: -50;
  padding:4%;
  color:$drk;
  font-size:.85rem;
  border-top:1px solid $lght;
  white-space: pre-wrap;
  word-wrap: break-word;
  resize: none;
  overflow: hidden;
  min-height: 2.5rem;
  border:none;
  outline:none;
}
// image upload icon
input[type=file] {
  position:absolute;
  z-index: 999;
  width: 2rem;
  font-size:1.75rem;
  right:0.5rem;
  bottom:0.35rem;
  opacity:0;
  outline:none;
  }
.hide{
  display:none
}

label {
  position:absolute;
  font-size:1.75rem;
  right:0.5rem;
  bottom:0.125rem;
  color:$gry;
  overflow:hidden;
  &:hover {
    color:$drk;
  }
  span input {
  z-index: 999;
  opacity: 0;
  filter: alpha(opacity = 0);
  margin: 0;
  padding:0;
  }
}

// incoming image notifications
.incoming {
  color: rgba(55, 55, 55, .6);
  animation-name: 'pulse_animation';
  animation-duration: 2650ms;
  animation-iteration-count: infinite;
  img {
    opacity: 0.6;
  }
}

// add users to conversation
// search
// input.search {
//   width:100%;
//   background:$wht;
//   z-index:999;
//   padding:.25rem .5rem;
//   border:none;
//   border-bottom:1px solid $bg;
//   font-size: 1rem;
//   font-weight: 100;
//   outline:none;
//   color:$drk;
//   margin:0;
// }
// current user view
.online-users {
  max-height: 16rem;
  overflow-y: scroll;
}
.user {
  @include flexbox;
  @include flex-direction( row );
  padding: 0.25rem;
  border-bottom: 1px solid $lght;
  position: relative;
  cursor: pointer;
  &:hover {
    background:$bg;
    transition: all 0.5s ease;
  }
  &.selected{ 
background: $gry;
  }
  &.disabled{
    opacity: 5;
    background: $lght;
    box-shadow: inset 1 1 1 $md;
  }
  .avatar {
    @include flexbox;
    margin-right: .5rem;
    border-radius: 50%;
    border: 1px solid $md;
    overflow: hidden;
    img{
      width: 1.75rem;
      height: 1.75rem;
    }
  }
  .content {
    @include flexbox;
    @include flex-direction( row );
    margin: 0 !important;
    h2 {
      align-self: center;
      font-size: 0.75rem;
      color: $md;
    }
  }
}
// confirm or cancel add user to conversation buttons
.add-user-bar{
  border-top:1px solid $lght;
  z-index:999;
  display:flex;
  padding:.5rem;
  justify-content:space-between;
  background:$bg;
  a{
    align-content:center;
    width: 7rem;
    transition: all 0.15s ease-out 0;
    background: $wht;
    border-radius: 0.25rem;
    color: $drk;
    font-size: 0.75rem;
    letter-spacing: 1px;
    padding: .5rem;
    text-align:center;
    border:1px solid $md;
  }
  .confirm{
    color:$wht; 
    background: $grn; 
    &.disabled{
      background:rgba(  97  ,158, 149,.5);
    }  
  } 
}
// existing message view within conversation view
.existing {
  display: flex;
  flex-direction: row;
  padding:.25rem;
  position:relative;
  margin: 0;
  .avatar{
    img {
      height: 1.75rem;
      width: 1.75rem;
      border-radius: 50%;
      border: 1px solid #adadad;
    }
  }
  .selected{ 
    background: $gry;
  }
  .disabled{
    opacity: 5;
    background: $lght;
    box-shadow: inset 1 1 1 $md;
  }
}

// end of conversation view

/* start of controller view ===========================*/

// logged out
.controller{
  width: 12rem;
  position: absolute;
  bottom: 0;
  right: 0.5rem;
  max-height: 18rem;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  .controller-view{
    min-height: 100%;
    overflow-x: hidden;
    background: #fbfbfb;
    overflow-y: scroll;
    }
    .persistent-bar {
      @include flexbox;
      @include justify-content( space-between);
      background: $bg;
      width: 100%;
      color: $drk;
      padding: .25rem;
      img{
        border-radius: 50%;
        width: 1.75rem;
        height: 1.75rem;
      }
      a {
        font-size: 0.75rem;
        align-self: center;
        cursor: pointer;
        flex: 1;
        text-align: center;
      }
    }
  }
.login-bar {
  cursor: pointer;
  @include flexbox;
  @include flex-direction( row );
  background: $bg;
  .btn {
    @include flexbox;
    @include flex-direction( column );
    @include justify-content( center );
    font-size: 1.125rem;
    border-right: 1px solid $md;
    a {
      align-self: center;
      color: $drk;
      padding: 0.25rem;
    }
  }
  .aside {
    @include flexbox;
    @include flex-direction( column );
    @include justify-content( center );
    flex: 1;
      a {
        font: 700 1rem 'Quattrocento Sans', sans-serif;
        color: $md;
        align-self: center;
      }
  }
}
/* logged in ======================== */
// settings view
.default-view {
  @include justify-content( center );
  min-width: 100%;
  padding:1rem;
  background: $bg;
  figure {
    margin: 0;
    @include flexbox;
    @include flex-direction( column );
    @include align-content( flex-start );
    img {
      align-self: center;
      max-width: 80%;
      opacity: 0.75;
      border-radius: 50%;
      border: 3px solid $drk;
    }
    h2 {
      margin: 0.2rem;
      font-size: 1rem;
      text-align: center;
      color: $gry;
    }
    a {
      font-size: 0.75rem;
      text-align: center;
      color: $md;
      &:hover {
        color: $grn;
        cursor: pointer;
      }
    }
  }
}
.horizontal-list{
    min-width:100%;
    list-style:none;
    display:flex;
    flex-direction:row;
    padding: 0.25rem;
    >li{
      flex:1;
      display: flex;
      flex-direction:column;
      justify-content:center;
      >a{
        text-decoration: none;
        color: $gry;
        text-align:center;
      }
    }
  }
  .utility-bar{
      background: #eee;
      border-top: 1px solid #adadad;
      a{
        font-size:1.125rem;
      }
    }
/* existing messages ========================== */
li.messages {
  @include flexbox;
  @include flex-direction( row );
  padding: 0.25rem;
  border-bottom: 1px solid $lght;
  position: relative;
  .avatar{
    border-radius: 50%;
    border: 1px solid $drk;
    img {
      width: 2.5rem;
    }
  }
}
.content {
  @include flexbox;
  @include flex-direction( column );
  @include justify-content( flex-start );
  text-align: left;
  flex: 1 0 0;
  margin-left: 0.5rem;
  &:before {
    color: $md;
    position: absolute;
    right: 0.75rem;
    top: 1.25rem;
  }
  h2 {
    font-size: 0.75rem;
    color: $drk;
    margin: 0;
  }
  p {
    font-size: 0.8rem;
    color: $md;
    margin: 0 1.175rem 0 0;
  }
  a {
    font-size: 0.5rem;
    color: $lght;
    margin: 0.25rem 0;
  }
}
// .status {
//   h2:after {
//     content: '';
//     border: 0.125rem solid $grn;
//     display: inline-block;
//     height: 0.25rem;
//     width: 0.25rem;
//     border-radius: 50%;
//     margin: 0.25rem 0 0 .25rem;
//   }
// }
  li.existing:hover {
    opacity: 0.75;
    transition: all 0.5s ease;
  }
  li.existing:nth-child(even) {
    background:$wht;
  }

  /*scrollbar styles*/
::-webkit-scrollbar {
    // width: 0.125rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #404040;
}

